# eclipse
bin
*.launch
.eclipse
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.DS_Store
eclipse
run
runs
runserver
logs
.minecraft

common/src/generated/resources/.cache
